* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #222;
  color: #eee;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
}

form {
  background: #111;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#FormDiv {
  width: 100%;
}

form div div {
  margin-bottom: 15px;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

input[type="text"],
input[type="file"],
textarea {
  width: 100%;
  padding: 8px;
  border: none;
  border-radius: 10px;
}

input[type="text"]:focus,
input[type="file"]:focus,
textarea:focus {
  outline: none;
}

input[type="file"] {
  padding: 5px;
}

textarea {
  resize: vertical;
}

button[type="submit"] {
  width: 100%;
  padding: 10px;
  background-color: #333;
  color: #eee;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

button[type="submit"]:hover {
  background-color: #222;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.ModalContent {
  position: relative;
  margin: auto;
  padding: 20px;
  background-color: white;
  border-radius: 8px;
  /* width: 80%; */
  max-width: 1080px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.CloseButton {
  position: absolute;
  top: 10px;
  right: 10px;
  color: #aaa;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

#CardCanvas {
  height: 80vh;
  /* width: 100%; */
}

.CloseButton:hover,
.CloseButton:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

canvas {
  z-index: 200;
}

#LogoImg {
  height: 2em;
}

.ButtonContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 5%
}

.ColorPickerContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  /* text-align: center; */
  gap: 5%
}